@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 237, 237);

    /* background-image: url(saturn.jpg); */
    /* background-image: url('eye.png');
    background-size :cover; */
}

/* GLOBAL */
.global {
    background-color: rgba(0, 255, 255, 0.1);
    width: 1080px;
    height: 900px;
    border-radius: 12px;
}

/*             TOPBAR             */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    height: 50px;

}

/* mode jour ou nuit */
.switch-holder {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
        10px 10px 10px rgba(0, 0, 0, 0.2),
        inset 8px 8px 15px rgba(255, 255, 255, 0.7),
        inset 10px 10px 10px rgba(0, 0, 0, 0.2);

    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 25px;

    background-color: #fff;
}

.switch-label {
    display: flex;
    padding: 0 20px 0 10px;
}

.switch-label i {
    margin-right: 5px;
}

.switch-toggle {
    height: 40px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset 8px 8px 15px rgba(255, 255, 255, 0.6),
        inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: "Nuit";
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: -3px -3px 5px rgba(255, 255, 255, 0.5),
        3px 3px 5px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease-in-out;
    background-color: black;
    color: #fff;
    border-radius: 12px;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
    left: 50%;
    content: "Jour";
    color: #929004;
    background-color: rgb(241, 237, 237);
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
        3px 3px 5px darkgreen;
}

/* mode dark sombre */
.mode-cont {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 1px double rgb(250, 248, 248);
    border-radius: 12px;
    margin: 2px;
}

.mode-cont button {
    width: 45px;
    height: 45px;

    border-radius: 50%;
}


/*        HEADER      */
header {
    width: 67.5rem;
    height: 9.4rem;
    background-color: rgba(153, 50, 204, 0.1);

    display: flex;
}

header div {
    width: 60%;
    height: 66.5%;
    align-self: center;
    margin: auto auto;
    display: flex;
    justify-content: center;
    border: 3px solid darkgoldenrod;
    background-color: rgba(210, 105, 30, 0.329);
}

header div h1 {
    align-self: center;
    font-family: 'Roboto Slab', sans-serif;
    -webkit-text-stroke-color: darkgoldenrod;
    font-size: 6rem;
    -webkit-text-stroke-width: 0.2rem;
    letter-spacing: 0.25rem;

    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*            NAV     */
.nav-menu {
    width: 1080px;
    height: 25px;
    background-color: rgba(0, 255, 255, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    text-align: center;
    width: 6.25rem;
    height: 1.4rem;
    margin: 2px;

    background-color: rgba(110, 247, 226, 0.1);
    box-shadow: 1px 1px 1px black;

    color: coral;
    /* display: flex; */
}

.fa {
    margin-right: 6px;
    color: darkgoldenrod;
}

/*                MAIN      */
main {
    display: flex;
    width: 1080px;
    min-height: 900px;
    background-color: rgba(210, 105, 30, 0.1);
}

/* Aside */
aside {
    width: 20%;
    height: 900px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: .5px .5px 1px black;
    margin: 10px;
    padding: 6px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

aside h2 {
    width: 100%;
    box-shadow: inset 1px 1px 4px 1px #f6f204;
    text-align: center;
}

aside p {
    margin: 6px auto;
    color: blue;
}

aside figure {
    width: 100%;
    height: 365px;
    box-shadow: 1px 1px 4px 1px #f6f204;
}

aside figure img {
    width: 100%;
    margin: 2px;
}

aside figure figcaption {
    height: 56px;
    width: 100%;
    margin-bottom: 6px;
    background-color: #f8f8e9;
    text-align: center;
    font-size: 40px;
}

aside ul {
    width: 100%;
    list-style: none;
    text-align: center;
    height: 200px;
    margin-top: 6px;
}

aside ul li {
    margin-top: 8px;
}

aside ul li a {
    text-decoration: none;
}

hr {
    line-height: 6px;
    stroke-width: 6px;
    background-color: #f6f204;
}


/* section */
section {
    width: 75%;
    height: 900px;
    background-color: white;
    margin: 10px;
    box-shadow: .5px .5px 1px black;

    display: flex;
    flex-direction: column;
}

article {
    width: 98.5%;
    height: 440px;
    background-color: rgba(115, 115, 245, 0.808);
    margin: 2.5px 5px;
}

/*                FOOTER        */
footer {
    width: 1080px;
    height: 150px;
    background-color: rgba(0, 0, 255, 0.1);
}

/* Mentions */
.mentions {
    width: 1080px;
    height: 50px;
    background-color: coral;
}



/* LES MEDIA QUERIES */
@media screen and (max-width: 600px){
    .global{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topbar{
        max-width: 600px;
        height: 50px;
        overflow: wrap;
    }
    .reseaux-sociaux, .switch-holder, .compte{
        max-width: 200px; 
    }

    header{
        visibility: hidden;
    }
    .nav-menu{
        position: relative;
        flex-direction: column;
        height: 150px;
        width: 100%;
    }
    .nav-menu div{
        width: 18.5%;
    }

    .name{
        font-size: 6rem;
        -webkit-text-stroke-width: 0.2rem;
        letter-spacing: 0.25rem;
    }

    main, footer, .mentions{
        width: 55.6%;
    }
}